# Required if you want to use .env file for development.
APP_ENV=development

HTTP_PORT=8080

DB_DRIVER=mysql
DB_USER=root
DB_PASS=root
DB_NAME=eoplatform
DB_HOST=localhost
DB_PORT=3306

AUTH_SECRET=sssssshhhh
AUTH_COST=10
AUTH_EXP_HOURS=1

# Firebase
TYPE=example
PROJECT_ID=example
PRIVATE_KEY_ID=example
PRIVATE_KEY=example
CLIENT_EMAIL=example
CLIENT_ID=example

MAIL_HOST=smtp.google.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

MAILJET_API_KEY=
MAILJET_SECRET_KEY=
MAILJET_SENDER_EMAIL=
MAILJET_SENDER_NAME=

XENDIT_SECRET=

REDIS_ADDR=
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=